<h1>ジェルキャンドルとは</h1>
<div class="about-content">
    ジェルキャンドルはとうめいでゼリーのようにプニプニのロウソクです
    通常のロウソク同様熱を与えることによって液体状になるため溶かすことによって砂やガラス細工を閉じ込めることが出来ます
    ロウソクの性質上ゼリー状のまま固定されるのでそれ以上固くなることはありません

    好きなガラス細工を閉じ込めて自分だけのオリジナルなキャンドルを作りましょう！！
    
</div>

<h1>作り方</h1>
<div class="container">
    <div class="content">
        1.はじめにグラスとその中に入れるガラス細工を決めます
    </div>

    <div class="content">
        2.つぎにグラスに砂を入れます
        <p>「もよう」も作れるよ！！</p>
    </div>

    <div class="content">
        3.ガラス細工を好きなところに入れます
        <p>そっと入れてね</p>
        <p>自分の好きなところに入れてみて！！</p>
    </div>

    <div class="content">
        4.とうめいなロウソクを作品に入れます
        <p>固まるまで待っててね！</p>
    </div>

    <div class="content">
        5.冷やして固まったら完成
        <p>完成したキャンドルを渡すので戻ってきてね！</p>
    </div>
</div>

<h1>サンドアート</h1>
<div class="about-content">
    <div class="content">
        サンドアートとは
        砂にもようをつけることです
        サンドアートの一部を紹介します！
    </div>

    <div class="container">
        <h2>ウェーブ</h2>
        <div class="content">
            1.砂を3層入れます
            <p>砂は横から見るとどのくらい入ってるかわかりやすいよ</p>
            <p>一番下は入っているのが分かりにくいから他の層よりも少し多めに入れるのが〇</p>
        </div>    
        
        <div class="content">    
            2.竹ぐしをグラスに刺します
            <p>グラスに沿って入れるのがポイント！</p>
            <p>もようが出来てきている部分を自分の目の前に持ってくるとわかりやすいよ</p>
        </div>
        
        <div class="content">    
            3.最後に砂を上からかけたらウェーブの完成！！
        </div>    
    </div>
</div>
<%#= link_to "ホームに戻る", tweet_path %>